/* 
    Document   : style
    Created on : 02.Oca.2013, 13:32:22
    Author     : murat
    Description:
        Purpose of the stylesheet follows.
*/

.mdtagmanagerWrapper{
    height:100%;
    /*width:100%;	
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;*/
    padding:10px;
    font-size:12px;
    color:#000;	
    font-family:helvetica;
    overflow:hidden;
}

/* AUTOCOMPLETE BEGIN */

.ui-autocomplete {
    border-color:#D9D9D9 #CCCCCC #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background: #FFF;
    font-size: 14px;
    letter-spacing: 0.5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ui-autocomplete .ui-menu-item {
    color: #7B7B7B;
}

.ui-autocomplete .ui-menu-item a {
    padding: 0 4px
}

.ui-autocomplete .ui-menu-item .ui-state-hover {
    color: #000 !important;
    background: #EEEEEE !important;
}

/* AUTOCOMPLETE END */

.mdtagmanagerWrapper a{
    text-decoration:none;
    color:#000;
}

.mdtagmanagerWrapper a:hover{
    text-decoration:underline;
    color:#000;
}

.mdtagmanagerSearchBar{
    width:370px;
    float:left;
}

.mdtagmanagerSearchBar input[type="text"]{
    width:350px;
    height:20px;
    line-height:20px;
    vertical-align:middle;	
    padding:0 4px 0;
    color:#B8B8B8;
    position: relative;
    z-index: 5;
}

.mdtagmanagerSearchBar .mdtagmanagerSearchSpinner {
    background: url('../images/input-spinner.gif') 338px center no-repeat;
}
.mdtagmanagerSearchBtn{
    width:auto;
    height:auto;
    clear:right;
}

.mdtagmanagerTagCounter{
    width:200px;
    clear:both;
    color:#7b7b7b;
    margin:2px;
    padding-top:10px; 
}

.mdtagmanagerTagWrapper{
    width:90%;
    height:100px;
    float:left;
    border:1px solid #CCC;
    margin:20px 0 0 0;
    padding:10px;
    clear:right;
    border-radius: 2px;
}

.mdtagmanagerTagBox {
    float:left;
    margin-top:20px;
    clear: left;
}

.mdtagmanagerTag, .mdtagmanagerTagPlaceholder {
    width:auto;
    height:20px;
    line-height:20px;
    float:left;
    padding:2px;
    margin:0 5px 10px;
    border-right:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    border-top:1px solid #f0f0f0;
    border-left:1px solid #f0f0f0;
    background:#f0f0f0;
    display: inline-block;
    border-radius: 4px;
}

.mdtagmanagerTag:hover {
    border: 1px solid #999;
}

.mdtagmanagerTagPlaceholder {
    background:#fff;
    border: 2px dashed #dedede;
}

.mdtagmanagerTagText{
    cursor:pointer;
    font-weight:bold;
    float:left;
    text-indent: 5px;
}

.mdtagmanagerTagDelete{
    background:url("../images/cross01.png") no-repeat  0 0;
    width:15px;
    height:15px;
    float:left;
    margin:2px 0 0 10px;
    padding:0 5px 0 0;
}

.mdtagmanagerTagDelete:hover{
    background:url("../images/cross02.png") no-repeat  0 0;
    cursor:pointer;
}

.mdtagmanagerTagDelete:active{
    background:url("../images/cross03.png") no-repeat  0 0;
    cursor:pointer;
}

.mdtagmanagerDragInfo{
    background: url("../images/drag.png") no-repeat scroll 0 7px transparent;
    float:left;
    padding:5px 60px 0;
    color:#7b7b7b;
}

.mdtagmanagerTagCounter span {
    font-weight: bold;
    border-radius:50px;
    padding: 1px 6px;
    color:#000;
    text-align:center;
    font-size:12px;
    letter-spacing: 0.8px;
    border: 2px solid #999;
}

.mdtagmanagerTagCounter span.tagZero {
    color:#CC0000;
}

.mdtagmanagerSaveBtn {
    margin-right: 10px;
}
